.night-day-art {
  background-color: #93ecfd;
  transition: 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputDayNight {
  height: 0;
  width: 0;
  visibility: hidden;
}

.labelNightDay {
  cursor: pointer;
  text-indent: -9999px;
  width: 250px;
  height: 100px;
  background: rgb(243, 243, 243);
  transition: 0.75s;
  display: block;
  border-radius: 100px;
  position: relative;
}

.labelNightDay:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: rgb(255, 247, 0);
  transition: 0.75s;
  border-radius: 90px;
  transition: 0.75s;
}

.inputDayNight:checked + .labelNightDay:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  transition: 0.75s;
}

.night-mode {
  background-color: rgb(0, 1, 51);
  transition: .75s;
}

.night-mode form .labelNightDay {
  background: rgb(254, 254, 242);
  transition: .75s;

}

.night-mode form .labelNightDay:after {
  background: #f7fca3;
  transition: .75s;
}

