@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.art-one {
  background-color: black;
}

.neon-text {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #fff;
  text-shadow:     
    0 0 7px rgb(106, 250, 255),
    0 0 10px rgb(106, 250, 255),
    0 0 21px rgb(154, 252, 255),
    0 0 42px rgb(154, 252, 255),
    0 0 82px rgb(154, 252, 255),
    0 0 92px rgb(154, 252, 255);
}

.neon-text-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}