@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.art-one {
  background-color: black;
}

.neon-text-on {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #fff;
  text-shadow:     
    0 0 7px rgb(106, 250, 255),
    0 0 10px rgb(106, 250, 255),
    0 0 21px rgb(154, 252, 255),
    0 0 42px rgb(154, 252, 255),
    0 0 82px rgb(154, 252, 255),
    0 0 92px rgb(154, 252, 255);
}

.neon-text-off {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: rgb(34, 34, 34);
  text-shadow:     
    0 0 7px rgb(30, 30, 30),
    0 0 10px rgb(28, 28, 28),
    0 0 21px rgb(25, 25, 25),
    0 0 42px rgb(24, 24, 24),
    0 0 82px rgb(24, 24, 24),
    0 0 92px rgb(20, 20, 20);
}

.neon-text-div {
  margin-top: 10%;
}

.neon-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.neon-button:hover {
  text-shadow:     
    0 0 7px rgb(255, 255, 255),
    0 0 10px rgb(242, 242, 242),
    0 0 21px rgb(173, 173, 173),
    0 0 42px rgb(107, 107, 107),
    0 0 82px rgb(83, 83, 83),
    0 0 92px rgb(58, 58, 58);
}