.header{
  padding-bottom: 2rem;
}

.header-div {
  font-family: 'Poppins', sans-serif;
  height: 25rem;
  background-color: #000;
}

.title-text {
  font-weight: 900;
  font-size: 6rem;
  line-height: .9;
}

.sub-text {
  font-size: 2rem;
  line-height: .9;
}

.title-text, .sub-text {
  color: #fff;
}

@media only screen and (max-width: 950px){
  .title-text {
    font-size: 5rem;
  }
  .sub-text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 500px){
  .title-text {
    font-size: 4rem;
  }
  .sub-text {
    font-size: 1rem;
  }
}