body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding-top: 4rem;
  /* overflow-x: hidden; */
}

@media only screen and (max-width: 750px) {
  body {
    padding-top: 3rem;
  }
}

.row {
  padding-bottom: 1rem;
}

.art {
  height: 20rem;
}

a:focus-visible, button:focus-visible, select:focus-visible {
  outline-style: solid;
  outline-color: rgb(0, 42, 255);
  outline-width: 3px;
  border-radius: 5px;
}

.art-gallery {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}