.navbar-div {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  padding: 0;
  height: 4rem;
}

.title {
  font-size: 2rem;
}

.div-nav-link {
  color: #000;
}
.navbar-div ul {
  list-style-type: none;
  display:flex;
  justify-content: center;
}

.navbar-div ul li {
  padding-left: 1rem;
  padding-right: 1rem;
}



@media only screen and (max-width: 720px) {
  .title {
    font-size: 1.25rem;
  }
  .navbar-div ul li {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .navbar-div ul {
    padding: 0;

  }
}

